body {
  background-color: #fff0f5;
  font-family: 'Arial', sans-serif;
  color: #800000;
  text-align: center;
  padding: 40px;
}

.container {
  max-width: 700px;
  margin: auto;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.mensagem {
  font-size: 1.2em;
  margin-bottom: 30px;
}

#cronometro {
  font-size: 1.5em;
  font-weight: bold;
  color: #d0006f;
  margin-bottom: 30px;
}

.fotos img {
  width: 500px;
  max-width: 50%;
  margin: 10px;
  border-radius: 15px;
  box-shadow: 0 0 10px #ccc;
}

button {
  background-color: #d0006f;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1.2em;
  border-radius: 5px;
  cursor: pointer;
}
